
@{
    ViewData["Title"] = "admin";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>

    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/accountStyle.css")" />

</head>




    <div class="divBg">
        <div class="space">
            <label>Book Actions</label>
            <div>
                <input class="butt" type="button" title="AddBook" value="Add Book"
                       onclick="location.href='@Url.Action("Create", "Book")'" />
            </div>
            <div>
                <input class="butt" type="button" title="RemoveBook" value="Remove Book"
                       onclick="location.href='@Url.Action("RemoveBookForm", "Book")'" />
            </div>
            <div>
                <input class="butt" type="button" title="RemoveBook" value="Edit Book"
                       onclick="location.href='@Url.Action("EditBookForm", "Book")'" />
            </div>
        </div>


        <div class="space">
            <label>Author Actions</label>
            <div>
                <input class="butt" type="button" title="AddAuthor" value="Add Author"
                       onclick="location.href='@Url.Action("CreateAuthor", "AdminAuthor")'" />
            </div>
            <div>
                <input class="butt" type="button" title="RemoveAuthor" value="Remove Author"
                       onclick="location.href='@Url.Action("RemoveAuthorForm", "AdminAuthor")'" />
            </div>
            <div>
                <input class="butt" type="button" title="EditAuthor" value="Edit Author"
                       onclick="location.href='@Url.Action("EditAuthorForm", "AdminAuthor")'" />
            </div>
        </div>


        <br /><br /><br /><br />
    </div>


