@model WebApplication.Models.BookModel


<head>
    <link rel="stylesheet" href="~/css/booksStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
    <div class="container book-detail">
        <div class="row detail-content">
            <div class="col-sm-4">
                
                    <img src="@Model.ImageUrl" class="book-detail-image" />
                    
                
            </div>
            <div class="col-md-6 book-detail-description">
                <span>Title :  @Model.Title</span>

                <span>Author: @Model.AuthorName</span>
               

                <span>
                    <input type="button"
                           value="Borrow"
                           id="borrow" />
                </span>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</body>

<script type="text/javascript">
    $('#borrow').click(function () {
        window.location.href = '@Url.Action("Borrow", "Borrow")' + "?title=" + "@Model.Title";   
    });
</script>